.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
   padding: 15px;
   
}
.item-list{
 /* border:1px solid #ccc; */
 box-shadow: 0 0 3px rgba(0,0,0,0.3);
 background-color: #fbfbfb;
 padding: 10px;
}

.ul li figure img {
    transition: transform 2s;
}
.ul li figure img:hover {
    transform: rotate(180deg);
}
.item-list  li h1{
    font-size: 20px;
    font-weight: bold;
    color: #333;
text-align: center;
}